body {
    margin: 0;
    font-family: sans-serif;
    background-color: black;
}

.header {
    color: blue;
    border-bottom: solid 3px #32b9cd;
    /* border: solid 3px green; */
}

.container {
    
    width: 80%;
    margin: auto;

}

h1 {
    
    padding: 5px 30px;
    /*  padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px; */
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    width: 600px;
    justify-content: space-around;
    color: #eeb062;
    list-style: none;
    align-items: center;
}

.banner {
    /* border: solid 3px pink; */
    color: white;
    padding: 40px 0;
    height: 400px;
    background-image: url("Acquatec/assets/imgs/bg-jelly-fish-para_outras_pags.png");
    background-size: cover;
}

.banner .container{
    /* border: solid 3px green; */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner p{
    /* border: solid 3px red; */
    font-size: 30px; 
    width: 200px;   
}

.banner .container span{
    font-weight: 800;
}

.social{
    /* border: solid 3px brown; */
    background-color: #e5e5e5;
}

.box img{
    width: 170px;
}

/* .social .container{
    border: solid 3px yellowgreen;
} */

.social .container .boxes{
display: flex;
}
.box{
    margin: 50px 10px 10px 10px;
    /* border: solid 3px chocolate; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social{
    text-align: center;
}

.footer{
    background-color: #32b9cd;
    height: 150px;
    color: #fff;
    display: flex;
}

.footer .container{
    display: flex;
    justify-content: center;
}


